html,body{
    overflow-x:hidden;
}

.main{
    background-color:#284b7c;
    width: 100%;
    height:auto;   
    margin: auto; 
   
}

a.navbar-brand{
    color: white!important;
    margin-left: 43px;
}
.navbar-nav.me-auto.mb-2.mb-lg-0.nav.justify-content-end{
    width: 100%;
}

.col-12>h1{
    color: aliceblue;
}
.nav-link{
    color: aliceblue!important;
    text-align: end;
}
.btn .rounded-pill {
    outline:solid;
    outline-color:#00b3e299;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 22px;
    padding-left: 22px;

}
    .bg-info{
        padding-right: 26px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 26px;
    }

.navbar-brand{
    font-size:50px ;
    color: white;
}
.icon{
   
    background-color: rgba(14, 67, 212, 0.773);
}
.rounded-circle{
    padding-left: 9px;
    outline-style: solid;
    outline-color: #ffffff;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.fa.fa-play{
    color: white;
}

.content_wrap{
margin: 33px 16px 29px 33px;
line-height: 2.2;
}
.content_wrap>h1{
    font-size: 44px;
}

    .image_1>img{
    
        width: 450px;
        height: 355px;
        margin-top: 0px;
        margin-left: 150px;
    }





.color{
    color: #f8f9fa;
}

.inline{
    display: flex;
    justify-content: space-around;
    list-style: none; 
    padding-top: 26px;
    padding-bottom: 10px;
    margin-left: -41px;
}
.inline>li{
    font-size: 30px;
    font-style: oblique;
}

.container-mt{
    background-color: rgb(210, 229, 255);
}
.about_header{

    text-align: center;
    margin: 64px 0px 64px 0px;
    color: darkblue;

}


.about_header>h1::after{
    content: ' ';
    display: block;
    position: relative;
    background-color:#00bcd4;
    width: 40px;
    height: 3px;
    margin-top: 5px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
}
.about_header>h1::before{
    content: ' ';
    position: absolute;
    background-color: #d9d9d9;
    width: 141px;
    height: 1px;
    margin-top: 54px;
    margin-left: 22px;

    }
    .about_content{

        margin: 0px 15px 66px 15px;
    text-align: justify;

    }

.about_content>p{
    color: black;
    font-size: 15px;
}
.btn-light{
    color:#47b2e4;
    background-color: #f8f9fa;
    border-color:#47b2e4;
    border-width: 3px;
}
.service{
    padding: 100px 0px;
    background-color: rgb(231, 242, 255);

    
}
.service_heading{
    color: rgb(54, 4, 155);

}

.image_2>img{
   
    width:100%;
  
    padding: 141px 46px 84px 82px;



}
.check .fa.fa-check{
    position: absolute;
    margin-left: -11px;
    margin-top: 3px;
    /* color: lightblue; */
   
}
.fa .fa-check{
    position: absolute;
    margin-left: 5px;
    /* color: lightblue; */
}
._checkbox{
    position: absolute;
    z-index: 1;
    color: lightblue;
}
._checkbox>li{
    color: black;
    text-align:justify;
}
.style{
    list-style: none;
    text-align:start;
}
.style>li{
    padding-left: 24px;
}
.text{
    color: aliceblue;
    margin-left: 5px;
}
.accordion{


}
.bold{
    
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}
.accordion-button{
    color: #47b2e4;

}

