html,body{
    overflow-x:hidden;
}

.main{
    background-color:#284b7c;
    width: 100%;
    height:600px;   
    margin: auto; 
   
}
.navbar.navbar-expand-lg{
    height: 236px;
}

.col-12>h1{
    color: aliceblue;
}
.nav-link{
    color: aliceblue;
}
.btn .rounded-pill {
    outline:solid;
    outline-color:#00b3e299;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 22px;
    padding-left: 22px;

}
    .bg-info{
        padding-right: 26px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 26px;
    }

.navbar-brand{
    font-size:50px ;
    color: white;
}
.icon{
   
    background-color: rgba(14, 67, 212, 0.773);
}
.rounded-circle{
    padding-left: 9px;
    outline-style: solid;
    outline-color: #ffffff;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.fa.fa-play{
    color: white;
}
.col-6{
padding-top: 145px;

}
.col-6>h1{
    font-size: 50px;
    color: aliceblue;
}
.color{
    color: #f8f9fa;
}

.inline{
    display: flex;
    justify-content: space-around;
    list-style: none; 
    height: 100px; 
    padding-top: 26px;
}
.inline>li{
    font-size: 30px;
    font-style: oblique;
}
.container{
    margin-top: -113px;
}
.container-mt{
    background-color: rgb(210, 229, 255);
}
.about>h1{
    text-align: center;
    color: rgb(2, 28, 52);
    padding-top: 40px;
}
.about>h1::after{
    width: 40px;
    height: 5px;
    display: block;
    position: absolute;
}

.col-6 p{
    color: black;
    font-size: 15px;
}
.btn-light{
    color:#47b2e4;
    background-color: #f8f9fa;
    border-color:#47b2e4;
    border-width: 3px;
}
.last{
    padding-bottom: 50px;
    background-color: rgb(231, 242, 255);
    margin-top: -120px;
    
}
.heading{
    color: rgb(54, 4, 155);
    margin-top: -71px;
}

.rounded{
    width: 650px;
    height: 550px;
    padding-bottom: 35px;
    padding-left: 80px;
    margin-top: 61px;
}
.check .fa.fa-check{
    position: absolute;
    margin-left: -11px;
    margin-top: 3px;
    /* color: lightblue; */
   
}
.fa .fa-check{
    position: absolute;
    margin-left: 5px;
    /* color: lightblue; */
}
._checkbox{
    position: absolute;
    z-index: 1;
    color: lightblue;
}
._checkbox>li{
    color: black;
    text-align:justify;
}
.style{
    list-style: none;
    text-align:start;
}
.style>li{
    padding-left: 24px;
}
.text{
    color: aliceblue;
    margin-left: 5px;
}
.accordion{
    padding-top: 11px;

}
.bold{
    
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}
.accordion-button{
    color: #47b2e4;

}
.about>h1::after{
    content: ' ';
    position: relative;
    background-color:#00bcd4;
    width: 40px;
    height: 3px;
    margin-top: 9px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
}
.about>h1::before{
    content: ' ';
    position: absolute;
    background-color: #d9d9d9;
    width: 117px;
    height: 1px;
    left: 674px;
    margin-top: 59px;
    }
